
<mat-toolbar class="header-toolbar" color="primary">
  <a class="logo" [routerLink]="'/chat'"><mat-icon>chat</mat-icon></a>

  <div class="search-bar">
    <input
      #search
      [readonly]="!activeSearchBar"
      [ngClass]="{'show-search-bar': activeSearchBar}"
      (focusout)="activeSearchBar = false"
      class="mat-body-2"
      type="search"
      name="searchQuery"
      [(ngModel)]="searchQuery" />
    <button mat-icon-button (click)="showSearchBar()" [disabled]="activeSearchBar">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <button class="btn-notifications"
          [ngClass]="{'has-notifications': notificationList().length}"
          mat-icon-button (click)="openNotifications()">
    <small *ngIf="notificationList().length">{{notificationList().length}}</small>
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <span mat-menu-item><mat-icon>person</mat-icon> {{getUser().name}}</span>
    <span mat-menu-item><mat-icon>mail</mat-icon> {{getUser().email}}</span>
    <button mat-menu-item (click)="openPrivateDialogues()" [disabled]="!privateDialogues().length">
      <mat-icon>person_add</mat-icon>
      <span class="number-of-dialogues" *ngIf="privateDialogues().length">
        {{privateDialogues().length}}
      </span> Private dialogues
    </button>
    <a *ngIf="getUser().role === 'Admin'" mat-menu-item [routerLink]="'/users'"><mat-icon>people</mat-icon> Users</a>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Log Out</button>
  </mat-menu>

</mat-toolbar>

<div class="container-messages" appContainerMessages>
  <mat-list role="list">
    <p *ngIf="noComments()">No comments yet!</p>
    <mat-list-item
      role="listitem"
      *ngFor="let message of messages() | search: searchQuery; let i = index;"
      [ngClass]="{'my-message': getUser().email === message.creator_email}">
      <p matLine>
        <strong>{{message.name}}</strong>
        <i>
          <small>{{message.created_at | date: 'dd.MM.yyyy HH:mm'}}</small>
        </i>
        <button
          *ngIf="getUser() && getUser().email === message.creator_email"
          mat-icon-button
          matTooltip="edit"
          [matTooltipPosition]="'above'"
          (click)="editMessage(message, i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="getUser() && getUser().email === message.creator_email || getUser().role === 'Admin'"
          mat-icon-button
          matTooltip="delete"
          [matTooltipPosition]="'above'"
          (click)="deleteMessage(message._id, i)">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="getUser() && getUser().email !== message.creator_email"
          mat-icon-button
          matTooltip="reply"
          [matTooltipPosition]="'above'"
          (click)="reply(message.name)">
          <mat-icon>reply</mat-icon>
        </button>
        <button
          *ngIf="getUser() && getUser().email !== message.creator_email && !existPrivateDialog(message).length"
          mat-icon-button
          matTooltip="face to face"
          [matTooltipPosition]="'above'"
          (click)="faceToFace(message)">
          <mat-icon>people</mat-icon>
        </button>
      </p>
      <p matLine>{{message.message}}</p>
    </mat-list-item>
  </mat-list>
</div>

<mat-card class="container-form-chat">
  <form [formGroup]="chatForm">
      <textarea
        #message
        class="mat-elevation-z1"
        *ngIf="chatForm.value.hasOwnProperty('message')"
        placeholder="message"
        formControlName="message"></textarea>

    <button mat-icon-button [disabled]="chatForm.invalid" (click)="send()">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</mat-card>

