
.container-private-dialogues {
  .mat-list-item {
    background-color: #eee;

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    &:hover,
    &:focus {
      background-color: #eee;
    }
  }

  .mat-list-item.active {
    background-color: mat-color(mat-palette($mat-blue-grey, 700));
    color: #fff;
  }
}
