
.header-toolbar {
  .btn-notifications {
    color: mat-color($mat-blue-grey, 900);
    &.has-notifications {
      color: red;
      small {
        color: #fff;
      }
    }
  }

  &.mat-toolbar-single-row {
    height: 43px;
    @media (max-width: 400px) {
      padding: 0;
    }
  }

  & > button,
  & > .search-bar button,
  & > .logo mat-icon {
    @media (max-width: 400px) {
      width: 30px;
    }
  }

  & > .logo {
    color: white;
    display: table;
    mat-icon {
      vertical-align: middle;
      @media (max-width: 400px) {
        padding-left: 5px;
      }
    }
  }

  & > .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;

    input {
      cursor: default;
      flex-grow: 1;
      margin-left: 5px;
      opacity: 0;
      outline: none;

      &.show-search-bar {
        opacity: 1;
      }
    }
  }
}

.number-of-dialogues {
  background-color: red;
  border-radius: 50%;
  color: white;
  margin-right: 5px;
  padding: 2px;
}

.container-messages {
  margin: 10px auto;
  max-width: 700px;
  height: calc(100% - 140px);
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 320px) {
    height: calc(100% - 190px);
  }

  mat-list-item {
    margin: 5px 0;
    padding-bottom: 10px;
    padding-top: 5px;

    max-width: 400px;

    &.mat-list-item {
      display: table;

      &:not(.my-message) {
        background-color: #eee;
      }
    }

    &.my-message {
      background-color: mat-color(mat-palette($mat-blue-grey, 700));
      color: #fff;
      margin-left: auto;
    }
  }

  .mat-list .mat-list-item.mat-2-line {
    height: auto;
  }

  mat-icon {
    font-size: 18px;
  }

  i {
    padding-left: 10px;
  }

  .mat-list-item .mat-line {
    white-space: pre-wrap;
  }

  button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.container-form-chat {
  margin: 0 auto 10px;
  max-width: 700px;

  &.mat-card {
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    textarea, button {
      height: 50px;
    }

    @media (max-width: 320px) {
      flex-direction: column;
    }

    textarea {
      border: 0;
      flex-grow: 1;
      margin-right: 10px;
      outline: none;
      padding: 10px;
      resize: none;

      -moz-box-shadow:    inset  1px 1px 3px #ccc, inset  1px 1px 3px #ccc;
      -webkit-box-shadow: inset  1px 1px 3px #ccc, inset  1px 1px 3px #ccc;
      box-shadow:         inset  1px 1px 3px #ccc, inset  1px 1px 3px #ccc;

      @media (max-width: 320px) {
        margin-right: 0;
      }
    }

    button {
      @media (max-width: 320px) {
        width: 100%;
      }
    }
  }
}

