
.header-toolbar {
  button {
    margin-left: auto;
  }
}

.container-messages {
  margin: 10px auto;
  max-width: 700px;
  height: calc(100% - 270px);
  overflow-x: hidden;
  overflow-y: auto;

  mat-list-item {
    margin: 20px 0;
  }
  mat-icon {
    font-size: 18px;
  }

  i {
    padding: 0 10px;
  }

  .mat-line {
    white-space: pre-wrap;
  }

  button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.container-form-chat {
  margin: 0 auto 10px;
  max-width: 700px;
}

.container-search,
.container-form-chat{
  padding-bottom: 0;
  padding-top: 10px;
}

.container-form-chat,
.container-search {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  mat-form-field {
    flex-grow: 1;
  }

  button {
    margin-left: 2%;
  }
}

