

.container-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  margin: 0 10px;

  &.auth {
    @media (max-height: 480px) {
      height: auto;
      min-height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 10px;
    }
  }

  mat-card-title {
    text-align: center;
  }

  mat-card {
    flex-basis: 400px;
    @media (max-width: 600px) {
      flex-basis: 100%;
    }
  }

  form, .passwords {
    display: flex;
    flex-direction: column;
  }

  .actions {
    text-align: right;
    a {
      text-decoration: none;
      margin-right: 10px;
      color: mat-color(mat-palette($mat-indigo));
    }
  }
}
